.QualityHealth-section{
    display: flex;
    gap: 2rem;

    .QualityHealth-text{

        display: flex;
        flex-direction: column;
        gap: 1rem;


        .QualityHealth-title2{
            
            span{
                color: var(--primary-color);
            }

            margin-bottom: .8rem;
            
        }

        a{
            color: var(--primary-color);
            text-decoration: none;
            margin-top: .7rem;
            font-weight: 600;
        }

    }


}