:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0360D9;
  --secoundary-color: #E1EEFF;
  --primary-text-color: 171717;
  --secoundary-text-color: #FFFFFF;

  --padding: 8rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color: #3399FF;
    --secoundary-color: #1a1a1a;
    --primary-text-color: #ededed;
    --secoundary-text-color: #FFFFFF;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: serif !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  padding: 2rem var(--padding);
  margin: 0 auto;
  min-height: 20vh;
}

header {
  min-height: 50vh;
  background-color: var(--secoundary-color);
}