.OurMembersContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--secoundary-color);
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex: 1;

    .OurMembers_contant {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex: 1;

        h1 {
            font-size: 2.5rem;

            .highlight-text {
                color: var(--primary-color);
                display: inline-block;
            }
        }

        .OurMembers_reviews {
            display: flex;
            align-items: center;
            gap: 1em;

            .OurMembers_images {
                display: flex;
                margin-left: 1em;
                max-width: fit-content !important;

                img {
                    border: 2px solid var(--secoundary-color);
                    border-radius: 50%;
                    margin-left: -1em;
                }
            }

            .ourMembers_reviews_count {
                font-size: 1.2rem;
                color: var(--primary-text-color);
                font-weight: 600;
            }
        }
    }

    .OurMembers_card {
        background-color: var(--secoundary-text-color);
        padding: 3em;
        border-radius: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        flex: 1;
        border: 1px solid var(--primary-text-color);
        max-width: 35em;

        .OurMembers_card_header {
            display: flex;
            align-items: center;
            gap: 1em;
            justify-content: space-between;

            .profile {
                display: flex;
                align-items: center;
                gap: 1em;
                color: var(--primary-text-color);

                h4 {
                    font-size: 1.5rem;
                }
            }

            .stars {
                color: gold;
                display: flex;
                gap: 0.2em;

                i {
                    font-size: 1.5rem;
                }
            }
        }
    }
}