@use '../../Styles/mixins' as *;

.OurMembersContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--secoundary-color);
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex: 1;
    gap: 2rem;

    @include tablet {
        flex-direction: column;
        padding: 3rem var(--padding);
    }

    @include mobile {
        padding: 2rem var(--padding);
    }

    .OurMembers_contant {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex: 1;

        @include tablet {
            text-align: center;
            align-items: center;
        }

        h1 {
            font-size: 2.5rem;

            @include tablet {
                font-size: 2rem;
            }

            @include mobile {
                font-size: 1.6rem;
            }

            .highlight-text {
                color: var(--primary-color);
                display: inline-block;
            }
        }

        .OurMembers_reviews {
            display: flex;
            align-items: center;
            gap: 1em;

            @include mobile {
                flex-direction: column;
                gap: 0.5em;
            }

            .OurMembers_images {
                display: flex;
                margin-left: 1em;
                max-width: fit-content !important;

                @include mobile {
                    margin-left: 0;
                }

                img {
                    border: 2px solid var(--secoundary-color);
                    border-radius: 50%;
                    margin-left: -1em;

                    @include mobile {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .ourMembers_reviews_count {
                font-size: 1.2rem;
                color: var(--primary-text-color);
                font-weight: 600;

                @include mobile {
                    font-size: 1rem;
                }
            }
        }
    }

    .OurMembers_card {
        background-color: var(--background);
        padding: 3em;
        border-radius: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        flex: 1;
        border: 1px solid var(--background);
        max-width: 35em;

        @include tablet {
            max-width: 100%;
            width: 100%;
        }

        @include mobile {
            padding: 1.5em;
            gap: 1.5em;
        }

        .OurMembers_card_header {
            display: flex;
            align-items: center;
            gap: 1em;
            justify-content: space-between;

            @include mobile {
                flex-direction: column;
                gap: 0.5em;
            }

            .profile {
                display: flex;
                align-items: center;
                gap: 1em;
                color: var(--primary-text-color);

                h4 {
                    font-size: 1.5rem;

                    @include mobile {
                        font-size: 1.2rem;
                    }
                }
            }

            .stars {
                color: gold;
                display: flex;
                gap: 0.2em;

                i {
                    font-size: 1.5rem;

                    @include mobile {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}