.OurMembersContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //   padding: var(--padding);
    //   gap: var(--padding);
    justify-content: center;
    background-color: var(--secoundary-color);
    width: 100%;
}