.hero-section {
    
    .hero-content{
        padding: 0 var(--padding);
        .hero-text{
            h1{
                font-size: 2.5rem;
                
                .highlight-text{
                    color: var(--primary-color);
                }
            }
        }
        .hero-image{

        }
    }

    .row-features {
        background-color: var(--primary-color);
        padding: 1rem 2rem;
        display: flex;
        gap: 2rem;

        .col-3 {
            color: var(--text-color);
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;

            h3 {
                font-size: 2rem;
            }
        }

        .vertical-line {
            background-color: var(--text-color);
            width: 1px;
            height: 50px;
            align-self: center;
        }
    }
}