.navSection {
    padding: 1em 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.logo-text h1 span {
    color: var(--primary-color);
}

.row nav ul {
    display: flex;
    gap: 2em;
}

.row nav ul li {
    list-style: none;
}

.row nav ul li a {
    text-decoration: none;
    color: #0D2B46;
    transition: color 0.5s ease-in-out;
}

.row nav ul li a:hover {
    color: var(--primary-color);
}

.active {
    font-weight: 600;
    color: var(--primary-color);
    border-bottom: var(--primary-color);
}

.button {
    padding: 1em 2em;
    border: 1px solid;
    border-radius: 2em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.button-1 {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.button-2 {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.button-1:hover {
    background-color: var(--primary-color);
    color: white;
}

.button-2:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}