@use '../../Styles/mixins' as *;

.navSection {
    padding: 1em var(--padding);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;

    nav {
        ul {
            display: flex;
            gap: 2em;

            @include tablet {
                gap: 1em;
            }

            @include mobile {
                display: none;
            }

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: var(--primary-text-color);
                    transition: color 0.2s ease-in-out;

                    &:hover {
                        color: var(--primary-color);
                    }

                    &.active {
                        font-weight: 300;
                        color: var(--primary-color);
                        border-bottom: 2.5px solid var(--primary-color);
                        padding-bottom: 2px;
                    }
                }
            }
        }
    }
    .theme-toggle{
        color: var(--foreground);
        font-size: 1.3em;
        border: none;
    }
}

.logo-text {
    h1 {
        span {
            color: var(--primary-color);
        }

        @include mobile {
            font-size: 1.5rem;
        }
    }
}

.button {
    padding: 1em 2em;
    border: 1px solid;
    border-radius: 2em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    @include tablet {
        padding: 0.8em 1.5em;
        font-size: 0.9rem;
    }

    @include mobile {
        padding: 0.6em 1em;
        font-size: 0.8rem;
    }

    &.button-1 {
        border-color: var(--primary-color);
        color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color);
            color: white;
        }
    }

    &.button-2 {
        background-color: var(--primary-color);
        color: white;
        border-color: var(--primary-color);

        &:hover {
            border-color: var(--primary-color);
            color: var(--primary-color);
            background: transparent;
        }
    }
}
