.row{
    display: flex;
    justify-content: space-between;
}
.logo-text h1 span{
    color: var(--primary-color);
}
.row nav ul{
    display: flex;
    gap: 1em;
}
.row nav ul li {
    list-style: none;
}
.row nav ul li a{
    text-decoration: none;
    color: #0D2B46;
    transition: color 0.5s ease-in-out;
}
.row nav ul li a:hover{
    color: var(--primary-color);
}
.active{
    font-weight: 600;
    color: var(--primary-color);
    border-bottom: var(--primary-color);
}
button{
    padding: 1em 2em;
}

.button-1{
    border: var(--primary-color);
    color: var(--primary-color);
    transition: all 1s ease-in-out;
}
.button-2{
    background-color: var(--primary-color);
    color: white;
    transition: all 1s ease-in-out;
}
.button-1:hover{
    background-color: var(--primary-color);
    color: white;
}
.button-2:hover{
    border: var(--primary-color);
    color: var(--primary-color);
}
