.footer-container {
  text-align: center;
  background-color: #0360D9;
  color: var(--secoundary-text-color);
  padding: 60px  var(--padding) 20px ;

  .footer-content {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  }

  .footer-logo{
    max-width: 366px;
    text-align: start;

    .footer-brand-name-and-text{
      gap: 20px;
      display: flex;
      flex-direction: column;
      
    }

    .footer-social-media{
      margin-top: 20px;
      display: flex;
      gap: 12px;

      a {
        color: var(--secoundary-text-color);
        font-size: 16px;
        text-decoration: none;
      }
    }

  }


  .footer-links{
    display: flex;
    flex-direction: column;

    .links-title{
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      text-align: start;
      color: var(--secoundary-text-color);
      margin-bottom: 10px;
    }

  }

  .address-title{
    margin-bottom: 20px;
    text-align: start;
  }
  

}

