.footer-container {
  text-align: center;
  background-color: #0360D9;
  color: var(--text-color);
  padding: 80px 0 20px 0;

  .footer-content {
  display: flex;
  justify-content: space-around;
  }

  .footer-logo{
    max-width: 366px;
    text-align: start;

    .footer-brand-name-and-text{
      gap: 20px;
      display: flex;
      flex-direction: column;
      
    }

  }


  .footer-links{
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      text-align: start;
      color: var(--text-color);
    }

  }

}

