.ChooseUs-section {

    display: flex;
    gap: 3.4rem;

    .ChooseUs-text{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .ChooseUs-points{
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            .ChooseUs-point{
                display: flex;

                i{
                    color: var(--primary-color);
                    font-size: 1.2rem;
                }

                p{
                    margin-left: .8rem;
                }

            }
        }
        

        a{
            color: var(--primary-color);
            text-decoration: none;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
        }

    }


}